# Monday, January 30th, 2023

This is some text in a MarkDown cell. To make a markdown cell, select a cell in Jupyter-notebook and hit `m`, or click "Cell" -> "Cell Type" -> "Markdown".

To add a cell in Jupyter-notebook, click the "+" sign in the toolbar. Alternatively, you can hit `esc` then `a`. More generally, we can use command shortcuts by first hitting `esc`. 

To see a list of all command shortcuts in Jupyter, hit `esc` then `h`.

You can save your notebook by hitting `CTRL + s`.

We can execute the cell with `SHIFT + ENTER` to render the markdown.

To create a heading in MarkDown, use hashtags.

# This is a heading

Once we execute the markdown cell, the heading will be rendered.
We can create sub-headings using additional hashtags.

## This is a sub-heading

### This is a sub-sub-heading

This is regular text.

*This is italics*

The word **bold** is bolded.

We can write code snippets in Markdown using the backtick (same key as tilde):

`def f(n):
    print(n)
`

We can edit a markdown cell by double-clicking it. Re-executing the cell (`SHIFT+ENTER`) will re-render the markdown.

## Lists

We can create lists in Markdown using indented asterisks:

 * This is the first item in a list
 * This is a second
 * This is a third
   * This is a sub-item
   * This is a second sub-item
 * This is a fourth item
 
We can also create numbered lists using numbers:

 1. This is the first item
 2. This is the second
   1. This is a first sub-item
   2. This is a second sub-item
 5. Test
 10. test2
    
Note: It doesn't actually matter what numbers you use, Markdown will order them it's own way.

## Hyperlinks

We create Hyperlinks in markdown using square-brackets (for the URL) followed by parentheses for the text:

`[This is the course page](https://jllottes.github.io)`

[This is the course page](https://jllottes.github.io)

## Tables

We can create tables in Markdown:

| Tables        | Are           | Cool  |  This is a new column |
|:------------- |:-------------:| -----:|-----------------------|
| col 3 is      | right-aligned | \$1600  |   alpha             |
| col 2 is      | centered      |   \$12  |   bravo             |
| zebra stripes | are neat      |    \$1  |   charlie           |
| new row       | This is new   | \$2000  |   delta             |

There are some special characters in Markdown (such as the backtick, dollar sign, asterisk, hashtag). Sometimes we want to include these symbols literally. If we want to use a special character literally, we can *escape* the special character using a slash `\`:

\` \$ \* \#

# Python arithmetic

Addition:

In [1]:
1 + 1

2

In [2]:
99999 - 1023

98976

Multiplication:

In [3]:
2 * 3

6

In [4]:
9999 * 2222

22217778

Division:

In [5]:
11 / 3

3.6666666666666665

Notice: The division of integer 11 by integer 3 produces something that is not an integer (it is a "floating point number").
Sometimes we just want the integer part of the division (i.e. the quotient in long-division).

Note: `11 = 3 * 3 + 2`

Floor division: (divide and drop the remainder)

In [6]:
11 // 3

3

Modulus: (divide and keep only the remainder)

In [7]:
11 % 3

2

Exponentiation: Use a double-asterisk `**`

In [8]:
2**3

8

In [9]:
2**100

1267650600228229401496703205376

In [10]:
2.0**100

1.2676506002282294e+30

When we run `2.0**100`, we no longer an exact answer, but a floating-point approximation.

`2` is an integer in Python, but `2.0` is a float. The `e+30` means we need to move the decimal point 30 places to the right.

# Wednesday, February 1st, 2023

# Floats vs integers

 * integers = whole numbers without a decimal point
 * floats = numbers with a decimal point
 * operations on integers are exact
 * operations on floats are approximate
 * Integers can be arbitrary large, but floats represented in the computer only within some finite range

In [11]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [12]:
7.0**1000

OverflowError: (34, 'Result too large')

Integers can be converted into floats using the `float()` function:

In [13]:
float(2)**100

1.2676506002282294e+30

Floats can be converted into integers using the `int()` function:

Note: `int()` returns the integer part of a float, i.e. it drops the decimal

In [14]:
int(123.99)

123

The `round()` function will round a float to the nearest integer

In [15]:
round(123.99)

124

## Exercise:

Find two numbers `p` and `q` such that `1234567 = 11*p + q` where `0 <= q < 11`

In [16]:
1234567 // 11

112233

In [17]:
1234567 % 11

4

In [18]:
11 * 112233 + 4

1234567

# Variable assignments

In [19]:
a = 5

In [20]:
a

5

In [21]:
p = 1234567 // 11
q = 1234567 % 11

p, q

(112233, 4)

In [22]:
11*p + q

1234567

As a general principle, we don't want to have to manually type in values more than once.

In [23]:
n = 1234567
m = 13

p = n // m
q = n % m

p, q

(94966, 9)

In [24]:
p*m + q

1234567

Note: Python will only keep variables in memory until the Notebook is shutdown.

Comment about arithmetic operations: Python follows PEMDAS

In [25]:
a = 5
b = 3
c = 2

In [27]:
(a + b) * c

16

In [28]:
a + b*c

11

We can reassign variable names at any point:

In [29]:
a,b,c

(5, 3, 2)

In [30]:
a = -4

In [31]:
a,b,c

(-4, 3, 2)

As a general guideline, it is good practice to design Jupyter notebooks to be executed top to bottom.

We can assign several variables at once:

In [32]:
a,b,c = 1,2,3

In [33]:
a

1

In [34]:
b

2

In [35]:
c

3

We can also swap variables using this inline variable declaration:

In [36]:
a, b

(1, 2)

In [37]:
a,b = b,a

In [38]:
a

2

In [39]:
b

1

If we didn't do this inline, we would need a third temprary variable:

In [42]:
a,b = 1, 2

temp = a
a = b
b = temp

a,b

(2, 1)

Variable names must begin with a non-numeric character:

In [43]:
_variable = 5
a12 = -4

In [44]:
_variable

5

In [45]:
a12

-4

In [46]:
1variable

SyntaxError: invalid syntax (Temp/ipykernel_16560/3329326550.py, line 1)

# The `print()` function

When we execute a cell, Jupyter will display the output for the last command that was run.

In [47]:
a = 1
b = 2
c = 3

a
b
c

3

The `print()` command will write the output to the screen regardless of where it's run in the cell

In [49]:
a = 1
b = 2
c = 3

print(a)
print(b)
print(c)
print(a,b,c)

1
2
3
1 2 3

## Exercise:

Define four variables, `a,b,c,d` to be equal to `1,2,3,4`.
Update these variable definitions so that `a = 4`, `b = 3`, `c = 2`, and `d = 1` without explicitly typing in these declarations (i.e. using inline swaps or a temporary variable).

In [51]:
a,b,c,d = 1,2,3,4

old_a = a
old_b = b
a = d
b = c
c = old_b
d = old_a

print(a,b,c,d)

4 3 2 1

General guideline: It is useful for variable names to have some meaning to them

In [52]:
a,b,c,d = 1,2,3,4

a,b,c,d = d,c,b,a

print(a,b,c,d)

4 3 2 1

## Shortcuts for updating variables:

In [53]:
a = 1

In [70]:
a = a + 1

In [71]:
a

10

Shortcut: we can `a += 1` as a shorthand for `a = a+1`

In [82]:
a = 1

In [83]:
a += 3

In [84]:
a

4

We can do this for arithematic operations:

In [95]:
a = 1

In [96]:
a *= 4

In [97]:
a

4

In [98]:
a = 1

In [101]:
a /= 2

In [102]:
a

0.25

# Strings in Python

Text strings are created by enclosing text in either single or double quotes:

In [103]:
s = 'MTH 337'
s

'MTH 337'

In most cases, we want to print a string rather than output contents of a string variable, so that any special characters are rendered.

In [104]:
print(s)

MTH 337

We can perform various operations operations on strings including addition and multiplication.

Adding strings together concatenates them.

In [107]:
s1 = 'Welcome to'

print(s1 + ' ' + s + '!')

Welcome to MTH 337!

Python cannot add strings and integers

In [108]:
print(s1 + 337)

TypeError: can only concatenate str (not "int") to str

We can multiply strings by positive integers to concatenate several copies

In [109]:
s * 3

'MTH 337MTH 337MTH 337'

We cannot multiply one string by another

In [110]:
print(s * s1)

TypeError: can't multiply sequence by non-int of type 'str'

We can define multiline strings using triple (single) quotes:

In [111]:
s = 'this is not
going to work
as a multiline string'

SyntaxError: EOL while scanning string literal (Temp/ipykernel_16560/1982315522.py, line 1)

In [112]:
s = '''this is
going to work
as a multline string'''

print(s)

this is
going to work
as a multline string

In [113]:
s

'this is\ngoing to work\nas a multline string'

We can convert an integer to a string using the `str()` command:

In [114]:
s = str(123)

s

'123'

In [115]:
print(s)

123

In [117]:
print('Your score in MTH ' + str(337) + ' is ' + str(97) + ' points.')

Your score in MTH 337 is 97 points.

## String formatting

In [123]:
s = 'Your score in MTH {0} is {1} points. Test {0}'.format(337, 97)

print(s)

Your score in MTH 337 is 97 points. Test 337

# Modules

Often times, we want to perform more complicated operations. The command `import (...something...)` can be used to bring a library into our environment.

In [125]:
import math

This command brings in many useful math functions. We can see what functions are available using the `dir()`

In [126]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

We can access these functions using `math.(function)`

In [127]:
math.cos

In [128]:
math.cos(0)

1.0

In [129]:
math.sin(0)

0.0

In [130]:
math.cos(90)

-0.4480736161291701

It looks like `math.cos` is working with radians rather than degrees.

In [131]:
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

In [133]:
help(math.radians)

Help on built-in function radians in module math:

radians(x, /)
    Convert angle x from degrees to radians.

In [134]:
math.cos(math.radians(45))

0.7071067811865476

In [135]:
math.pi

3.141592653589793

In [136]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

When we import the module in this way, i.e. `import math`, then whenver we access functions from that module, we have "dig" back in to find them.

In [137]:
cos

NameError: name 'cos' is not defined

In [138]:
math.cos

## Simplifying module names

In [139]:
import math as m

This will import the math module and store it as the variable `m`

In [141]:
m.cos(3)

-0.9899924966004454

We can also go into a module and pull out specific functions.

In [146]:
from math import sin, cos, radians

In [147]:
cos(radians(45))

0.7071067811865476

We can use `from math import *`

In [148]:
from math import *

In [149]:
e

2.718281828459045

In [150]:
pi

3.141592653589793

In [151]:
ceil(3.3)

4

**Note:** Use `import *` with care!

In [152]:
e = 1

from math import *

print(e)

2.718281828459045

General tip: Only the functions that we need, and deal with any imports at the start of the notebook or the start of a cell.

# LaTeX in markdown cells

LaTeX is a language for writing math expressions. To work with LaTeX, we use dollar symbols \$ to wrap around our LaTeX.

1 + 2

$1 + 2$

We can generate fractions in LaTeX using `\frac{a}{b}`

$\frac{1}{2}$

$\frac{x + y}{7 + z}$

We can write exponents in LaTeX using a carrot `^`:

x^2 + y^2 = z^2

$x^2 + y^2 = z^2$

 1. Exponents: $x^2 + x^5$ (`$x^2 + x^5$`)
 2. Fractions: $\frac{3}{5}$, $\frac{x^5 + 6}{t^2 - 1}$ (`$\frac{x^6 + 6}{t^2 - 1}$`)
 3. Integrals and trigonometric functions: $\int \cos(x) dx$ (`$\int \cos(x) dx$`)
 4. Superscripts and subscripts: $x_1, x_2, x_3$ $\int_0^1 \cos(x) dx$ (`$x_1$`)

We can use double dollar signs \$\$ to display formulas centered on their own line:

$$\int_0^1 \cos(x) dx$$

(`$$\int_0^1 \cos(x) dx$$`)