# Monday, August 26th, 2024

In [1]:
1 + 1

2

The cell below is a code cell. Python throws an error when we execute the cell because we have not written valid Python code. Instead, we should convert the cell to a Markdown cell, which is used for non-code text.

In [2]:
Jupyter notebook basics:

To save, click the floppy disk in the top left corner, or select File -> Save and Checkpoint.
To execute a cell, select it and hit SHIFT + ENTER.
To add a cell below the currently selected cell, hit the PLUS symbol in the top-left corner.
To convert a cell to Markdown, select the cell and hit the dropdown in the toolbar to select Markdown.

SyntaxError: invalid syntax (238413961.py, line 1)

## Jupyter notebook basics:

* To **save**, click the *floppy disk* in the top left corner, or select File -> Save and Checkpoint.
* To execute a cell, select it and hit SHIFT + ENTER.
* To add a cell below the currently selected cell, hit the PLUS symbol in the top-left corner.
* To convert a cell to Markdown, select the cell and hit the dropdown in the toolbar to select Markdown.

We can also put hyperlinks into Markdown cells:

[Here is a link to the Markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

We can construct tables as well using markdown:

| Name | Age | City |
|:------:|-----|------:|
| Jon  | 35  | Buffalo |
| Steven | 36 | Seattle |
| Emily | 38 | Pittsburgh |
| Justin | 40 | Rochester |

## Python arithmetic

Addtion:

In [3]:
1 + 1

2

Multiplication:

In [4]:
4 * 5

20

Division:

In [5]:
11/3

3.6666666666666665

Floor division (divide and keep only the quotient):

In [6]:
11 // 3

3

Modulus (divide and keep only the remainder):

In [7]:
11 % 3

2

**Exercise:**

Write the number 123456 in the form 123456 = 22q + r where 0 <= r < 22.

In [8]:
123456 // 22

5611

In [9]:
123456 % 22

14

Check:

In [10]:
22*5611 + 14

123456

Power:

In [11]:
5^3

6

The caret `^` does not compute powers. Instead, we use a double asterisk `**`:

In [12]:
5**3

125

In [13]:
2**100

1267650600228229401496703205376

In [14]:
2.0**100

1.2676506002282294e+30

In [15]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [16]:
7.0 ** 1000

OverflowError: (34, 'Result too large')

## Floats vs integers

* integers = numbers without decimal points
* floats = numbers with a decimal point
* Operations on integers are exact
* Operations on floats are approximate
* Integers can be arbitrarily large, but floats can be only be represeneted in the computer within a finite range.

We can convert between the two using the functions `float()` and `int()`:

In [17]:
float(2)

2.0

In [18]:
int(2.0)

2

We can check the type of a number using the function `type()`:

In [19]:
type(2)

int

In [20]:
type(2.0)

float

In [21]:
int(123.99)

123

The `int()` function will ignore any fractional part of a float and take only the whole number.

In [22]:
int(-1.99)

-1

We can use the `round()` function instead to round a float to the nearest integer:

In [23]:
round(123.99)

124

In [24]:
round(-1.99)

-2

Python follows the PEMDAS order of operations:

In [25]:
7 * (6/2)**2

63.0

In [26]:
7 * (6//2)**2

63

## Variable assignment

In [27]:
a = 5

In [28]:
a

5

In [29]:
b = 2

In [30]:
b

2

In [31]:
a + b

7

In [32]:
a*b

10

In [33]:
a**b

25

We can also store the results of some operations as variables

In [34]:
c = b**a

In [35]:
c

32

In [36]:
d = 123456
f = 33

q = d // f
r = d % f

We can see several variables in one line by separating them with a comma

In [37]:
q, r

(3741, 3)

We can also define several variables in one line by separating with a comma:

In [38]:
d, f = 12345, 33

In [39]:
d

12345

In [40]:
f

33

We can use this to swap two variables:

In [41]:
d,f

(12345, 33)

In [42]:
d, f = f, d

In [43]:
d, f

(33, 12345)

## Warning about working with Jupyter notebook

In [44]:
a = 1
b = 2
c = 3

In [45]:
a,b,c

(1, 2, 3)

We can change the meaning of any variables at any point. Python will always recall the most recent definition of those variables.

We can clear all of the memory and start refresh by hitting *Refresh* symbol in the upper toolbar, or we can select *Kernel -> Restart*.

If we save a notebook and quit, all variables will be lost.

If we want to resume later, we can use *Kernel -> Restart and run all*.