This is some text.
To execute a cell, press `Shift + Enter`

# This is a heading

Double clicking on a Markdown cell allows you to edit it.

## This is a sub-heading

### This is a sub-sub-heading

This is regular text.

*This is italics.*

**This is bold text.**

We can write code snippets in Markdown:

`def f(n):
    print(n)`

## Lists

* This is the first item in a list
* This is the second
* This is third
* ...

We can create numbered lists:

1. This is the first item in a list
2. This is the second item in a list
4. This is the third item in a list
6. ...

## Hyperlinks

[Course webpage](https://jllottes.github.io)

## Tables

We can create tables in Markdown:

| First name | Last name | Favorite animal |
|:-----------|:----------|:----------------|
| Alan       | Diakob    | Dolphin         |
| Trevor     | MacEhee   | Dog             |
| Harrison   | Fedro     | Otter           |
| Jon        | Lottes    | Lion            |

# Python arithmetic

Addition:

In [3]:
1+1

2

Multiplication:

In [4]:
2*3

6

Division:

In [5]:
11/3

3.6666666666666665

Floor division: (divide and drop the remainder)

In [6]:
11//3

3

Modulus: (divide and keep only the remainder)

In [7]:
11%3

2

To clarify: `11 = 3*3 + 2`

Exponentiation:

In [8]:
2**5

32

In [9]:
2**100

1267650600228229401496703205376

In [10]:
2.0**100

1.2676506002282294e+30

`2` is an integer in Python, `2.0` is a float. The `e+30` means we need to move the decimal point 30 places to the right.

# Floats vs integers

* integers = numbers without a decimal point
* floats = numbers with a decimal point
* operations on integers are exact
* operations on floats are approximate
* Integers can be arbitrarily large, but floats are represented in the computer only within some finite range

In [11]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [12]:
7.0**1000

OverflowError: (34, 'Result too large')

Integers can be converted to floats using the `float()` function:

In [13]:
float(123)

123.0

Floats can be converted to integers using the `int()` function which truncates toward 0:

In [14]:
int(123.99)

123

The `round()` function converts a float to the nearest integer:

In [15]:
round(123.99)

124

### Exercise:

Find two numbers `p` and `q` so that `1234567 = 11*p + q` where `0 <= q < 11 `

In [16]:
1234567//11

112233

In [17]:
1234567%11

4

In [18]:
1234567 - 11*112233

4

Answer: `p = 112233` and `q = 4`

The order of operations follows PEMDAS:

In [19]:
7*(6/2)**2

63.0

In [20]:
7*(6//2)**2

63

In [21]:
7*(1+2)

21

# Variable assignment

In [22]:
a = 5

In [23]:
a

5

In [24]:
b = 2

b

2

In [25]:
a+b

7

In [26]:
a**b

25

In [27]:
b**a

32

In [28]:
a,b

(5, 2)

In [29]:
a = 10
b = 3

In [30]:
a,b

(10, 3)

We can define severables in a single line:

In [31]:
c,d = 100, -20

In [32]:
c

100

In [33]:
d

-20

We can use this to swap variables:

In [42]:
c,d = d,c

In [43]:
c,d

(-20, 100)

Python will interpret the right-hand side first before making any variable assigments.

# The `print()` function

So far, we've been executing a command in a cell to get the output

In [46]:
a
b
c
d

100

We can use the `print()` function to force Python to print to the output

In [47]:
print(a)
print(b)
print(c)
print(d)

10
3
-20
100

We can also print several things with a single `print()` command:

In [48]:
print(a,b,c,d)

10 3 -20 100

## Shortcuts for modifying variables values:

In [60]:
a = 100

In [61]:
a = a + 5

In [62]:
print(a)

105

In [63]:
b = 100

Shorthand for `b = b + 5`:

In [64]:
b += 5

In [65]:
print(b)

105

This short-hand works with `-=`, `*=`, `/=`:

In [66]:
c = 100

In [67]:
c -= 1
print(c)

99

In [68]:
c *= 2
print(c)

198

In [69]:
c /= 4
print(c)

49.5

# Strings in Python

Text strings are created by enclosing text in either single or double quotes:

In [78]:
s = 'MTH 337'

In [79]:
print(s)

MTH 337

String concatenation:

In [80]:
s2 = "Welcome to "

In [81]:
s3 = s2 + s

In [82]:
print(s3)

Welcome to MTH 337

String multiplication by integers:

In [83]:
s = 'abc'
s2 = 10*s

In [84]:
print(s2)

abcabcabcabcabcabcabcabcabcabc

We can't multiply two strings together:

In [88]:
s*s

TypeError: can't multiply sequence by non-int of type 'str'

Multiline strings can be created using triple quotes:

In [89]:
'This is not a
multiline string
It will throw an error'

SyntaxError: EOL while scanning string literal (<ipython-input-89-91b59ab325fa>, line 1)

In [91]:
s = '''This is a 
multiline string.
It will not throw an error.'''

s

'This is a \nmultiline string.\nIt will not throw an error.'

In [92]:
print(s)

This is a
multiline string.
It will not throw an error.

The `str()` command can be used to convert numbers into strings:

In [100]:
score = 95

In [101]:
s = 'Your score is ' + str(score) + ' points!'
print(s)

Your score is 95 points!

The `int()` and `float()` commands work on strings:

In [104]:
s = "-29"
n = int(s)

In [105]:
print(s)

-29

In [106]:
print(n)

-29

We can use the `type()` function to see what type of object a variable is:

In [107]:
type(s)

str

In [108]:
type(n)

int

In [109]:
print(10*s)

-29-29-29-29-29-29-29-29-29-29

In [110]:
print(10*n)

-290

In [111]:
s1 = '-20'
s2 = '75.2'

print(s1 + s2)

-2075.2

In [112]:
print(int(s1) + float(s2))

55.2

## String formatting

The `.format()` method can be used to insert values into a string:

In [118]:
a = 3
b = 7
c = a+b

s = 'When you add {0} to {1} then you get {2}!!!'.format(a,b,c)

In [119]:
print(s)

When you add 3 to 7 then you get 10!!!

In [117]:
print('When you add ' + str(a) + ' to ' + str(b) + ' then you get ' + str(c) + '!!!')

When you add 3 to 7 then you get 10!!!

# February 2, 2022

**Exercise 1.** In markdown:

1. Create a new heading for today's class
2. Create a link to UBLearns
3. Recreate these instructions as markdown list

# February 2, 2022

[This is a link to UBLearns](https://ublearns.buffalo.edu)

* Create a new heading for today's class
* Create a link to UBLearns
* Recreate this instructions as a markdown list

**Exercise 2.**

1. Define two variables to represent the integers 5 and 12.
2. Compute the sum of the squares of 5 and 12.
3. Concatenate the strings '5', '12', and a stringified version of the number in part 2.
4. Convert the string in part 3 to an integer and divide by 29.

In [1]:
x = 5
y = 12

In [3]:
z = x**2 + y**2
z

169

In [7]:
w = str(x) + str(y) + str(z)
print(w)

512169

In [10]:
int(w)/29

17661.0

# Modules

The command `import (something)` is used to bring a library into our environment.

In [11]:
import math

The above command brings in many useful math functions.
We can see what functions are available with the `dir()`

In [12]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

We can access these objects by typing `math.(object)`

In [15]:
math.cos

In [16]:
math.cos(5)

0.28366218546322625

The `help()` can be used to get more information about a module and its object.

In [17]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [18]:
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

**Exercise.** Compute the tangent of 45 degrees

In [20]:
help(math.tan)

Help on built-in function tan in module math:

tan(x, /)
    Return the tangent of x (measured in radians).

In [21]:
help(math.radians)

Help on built-in function radians in module math:

radians(x, /)
    Convert angle x from degrees to radians.

In [22]:
math.radians(45)

0.7853981633974483

In [23]:
math.tan(math.radians(45))

0.9999999999999999

Another approach:

In [30]:
degree_measure = 60
degree_measure

60

In [31]:
math.pi

3.141592653589793

In [32]:
radian_measure = math.pi/180 * degree_measure
radian_measure

1.0471975511965976

In [33]:
math.tan(radian_measure)

1.7320508075688767

## Simplifying module names

We can import a module and give it a new name as follows:

In [34]:
import math as m

In [36]:
m.cos(m.pi)

-1.0

We can import some specific module content for direct use:

In [42]:
from math import sin,pi,cos

In [43]:
sin(2*pi)

-2.4492935982947064e-16

In [45]:
cos(pi)

-1.0

In [46]:
tan(pi)

NameError: name 'tan' is not defined

We can't use `tan()` directly unless we import it from the module

We can import all of the module content for direct use:

In [47]:
from math import *

In [50]:
tan(pi/3)

1.7320508075688767

**Note:** Use `import *` with care!

In [51]:
e = 1

In [52]:
print(e)

1

In [53]:
from math import *

In [54]:
print(e)

2.718281828459045

# LaTeX in markdown cells

We can write inline mathematical objects in LaTeX using a pair of single dollar signs: $x + y$

1. Exponents: $x^2 + y^5$
2. Fractions, use the `\frac{}{}` command: $\frac{3}{5}$, $\frac{x^5 + 7}{y^3 - 4}$
3. Integrals and trigonometric functions: $\int \cos(x) dx$
4. Superscripts and subscripts: $\int_0^\pi \cos(x) dx$

We can create display formulas by enclosing in double dollar signs:

$$\int_0^\pi \cos(x) dx$$

* Superscripts and subscripts: $a_n$, $2^n$
* Square roots: $\sqrt{2}$
* Arbitrary roots: $\sqrt[3]{6}$, $\sqrt[5]{100}$
* Greek letters: $\alpha + \beta = \gamma$
* Parentheses: $$4 \cdot (\frac{1}{2} + 5)$$
We can use the `\left(` and `\right)` to match the size the size of the parentheses to enclosed content:
$$ 4 \cdot \left( \frac{1}{2} + 5 \right) $$

**Exercise.**

$\frac{1}{2} + \frac{2}{3}$

$\frac{4}{5} \pi$

$$ \left( 
\frac{\frac{1}{2} + \frac{2}{3}}
     {\frac{4}{5} \pi} 
\right)$$

# Back to Python: Boolean value and expressions

Boolean values: `True` and `False`

A *Boolean expression* is an expression that can be evaluated as either `True` or `False`

Equality test: Use `==` symbol

In [55]:
1 == 2

False

In [56]:
2+2 == 2*2

True

Inequality test: Use `!=` symbol

In [57]:
1 != 2

True

In [59]:
4 != 4

False

In [60]:
'ab' == 'a' + 'b'

True

In [61]:
'ab ' == 'a' + 'b'

False

In [62]:
4 == '4'

False

Other comparisons:

In [63]:
5 > 4

True

In [64]:
5 < 5

False

In [65]:
5 <= 5

True

We chain together inequalities:

In [66]:
1 < 2 < 4

True

In [67]:
1 < 4 < 2

False

## The `if` statement

In Python, spacing and tabbing is **critical**!!!!

In [69]:
a = 5

if a < 10:
    print('{:} is a small number'.format(a))
    
print('Done!')

5 is a small number
Done!

We can use the `else` statement to do something different when the `if` statement is not `True`:

In [71]:
a = 15

if a < 10:
    print('{:} is a small number'.format(a))
else: 
    print('{:} is not a small number'.format(a))
    
print('Done!')

15 is not a small number
Done!

We can use the `elif` (else if) statement to make chained `if` statements:

In [76]:
a = 1500

if a < 10:
    print('{:} is a small number'.format(a))
elif a < 100: 
    print('{:} is a medium number'.format(a))
elif a < 1000:
    print('{:} is a medium-large number'.format(a))
else:
    print('{:} is a large number'.format(a))
    
print('Done!')

1500 is a large number
Done!

The `if` statement always has to be first and the `else` statement (if present) always has to be last. Python will start at the first Boolean expression. If `True`, it runs the code that block. If `False`, it continues to the next Boolean expression.

In [80]:
a = 1500

if a < 10:
    print('{:} is less than 10'.format(a))
if a < 100:
    print('{:} is less than 100'.format(a))
if a < 1000:
    print('{:} is less than 1000'.format(a))
    
print('Done!')

Done!

**Exercise.**

Given two integers, `a = 5` and `b = 7`

Print the product of `a` and `b` if the product is greater than 1000.
Otherwise, print the sum of `a` and `b`

In [87]:
a = 50
b = 70

product = a*b

if product > 1000:
    print('The product of {:} and {:} is {:}'.format(a,b,product))
else:
    print('The sum of {:} and {:} is {:}'.format(a,b,a + b))

The product of 50 and 70 is 3500

We can use modulus with Boolean expressions:

Recall: `m%n` returns the remainder of `m` divided by `n`.

We can check if `m` is divisible by `n` by checking if `m%n==0`

In [84]:
10%2 == 0

True

In [83]:
10%3 == 0

False

A positive integer $n$ is prime if the only positive integer factors of $n$ are $n$ and $1$.

In [92]:
n = 1234567
d = 111

if n%d == 0:
    print('{:} is not a prime number'.format(n))
else:
    print('{:} could be a prime number'.format(n))
    
print('The remainder of {:} divided {:} is {:}'.format(n,d,n%d))

1234567 could be a prime number
The remainder of 1234567 divided 111 is 25

# Repetition: lists and `for` loops

## Lists

Lists are creating by enclosing some objects separated commas in square brackets:

In [93]:
mylist = [1,2,3,4]

print(mylist)

[1, 2, 3, 4]

In [94]:
mylist = [1,'2',3.0,'This is the fourth item in the list']

print(mylist)

[1, '2', 3.0, 'This is the fourth item in the list']

We can access particular elements of a list using `mylist[i]`.
Python uses zero-based indexing, so `mylist[0]` will give the first item, `mylist[1]` will give the second item, `mylist[2]` gives the third...

In [96]:
mylist[1]

'2'

In [97]:
mylist[3]

'This is the fourth item in the list'

In [98]:
mylist[4]

IndexError: list index out of range

## Operations on lists:

In [99]:
numbers = [1,2,3]
letters = ['a','b','c']

We can add lists together:

In [100]:
mylist2 = numbers + letters

print(mylist2)

[1, 2, 3, 'a', 'b', 'c']

Lists can be multiplied by integers:

In [102]:
mylist3 = 10*letters

print(mylist3)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

We can add an item to a list using the `.append()` method:

In [104]:
mylist4 = [1,2,3,4]
print(mylist4)

mylist4.append(5)
print(mylist4)

mylist4.append(100)
print(mylist4)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 100]