This is some text.
To execute a cell, press `Shift + Enter`

# This is a heading

Double clicking on a Markdown cell allows you to edit it.

## This is a sub-heading

### This is a sub-sub-heading

This is regular text.

*This is italics.*

**This is bold text.**

We can write code snippets in Markdown:

`def f(n):
    print(n)`

## Lists

* This is the first item in a list
* This is the second
* This is third
* ...

We can create numbered lists:

1. This is the first item in a list
2. This is the second item in a list
4. This is the third item in a list
6. ...

## Hyperlinks

[Course webpage](https://jllottes.github.io)

## Tables

We can create tables in Markdown:

| First name | Last name | Favorite animal |
|:-----------|:----------|:----------------|
| Alan       | Diakob    | Dolphin         |
| Trevor     | MacEhee   | Dog             |
| Harrison   | Fedro     | Otter           |
| Jon        | Lottes    | Lion            |

# Python arithmetic

Addition:

In [3]:
1+1

2

Multiplication:

In [4]:
2*3

6

Division:

In [5]:
11/3

3.6666666666666665

Floor division: (divide and drop the remainder)

In [6]:
11//3

3

Modulus: (divide and keep only the remainder)

In [7]:
11%3

2

To clarify: `11 = 3*3 + 2`

Exponentiation:

In [8]:
2**5

32

In [9]:
2**100

1267650600228229401496703205376

In [10]:
2.0**100

1.2676506002282294e+30

`2` is an integer in Python, `2.0` is a float. The `e+30` means we need to move the decimal point 30 places to the right.

# Floats vs integers

* integers = numbers without a decimal point
* floats = numbers with a decimal point
* operations on integers are exact
* operations on floats are approximate
* Integers can be arbitrarily large, but floats are represented in the computer only within some finite range

In [11]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [12]:
7.0**1000

OverflowError: (34, 'Result too large')

Integers can be converted to floats using the `float()` function:

In [13]:
float(123)

123.0

Floats can be converted to integers using the `int()` function which truncates toward 0:

In [14]:
int(123.99)

123

The `round()` function converts a float to the nearest integer:

In [15]:
round(123.99)

124

### Exercise:

Find two numbers `p` and `q` so that `1234567 = 11*p + q` where `0 <= q < 11 `

In [16]:
1234567//11

112233

In [17]:
1234567%11

4

In [18]:
1234567 - 11*112233

4

Answer: `p = 112233` and `q = 4`

The order of operations follows PEMDAS:

In [19]:
7*(6/2)**2

63.0

In [20]:
7*(6//2)**2

63

In [21]:
7*(1+2)

21

# Variable assignment

In [22]:
a = 5

In [23]:
a

5

In [24]:
b = 2

b

2

In [25]:
a+b

7

In [26]:
a**b

25

In [27]:
b**a

32

In [28]:
a,b

(5, 2)

In [29]:
a = 10
b = 3

In [30]:
a,b

(10, 3)

We can define severables in a single line:

In [31]:
c,d = 100, -20

In [32]:
c

100

In [33]:
d

-20

We can use this to swap variables:

In [42]:
c,d = d,c

In [43]:
c,d

(-20, 100)

Python will interpret the right-hand side first before making any variable assigments.

# The `print()` function

So far, we've been executing a command in a cell to get the output

In [46]:
a
b
c
d

100

We can use the `print()` function to force Python to print to the output

In [47]:
print(a)
print(b)
print(c)
print(d)

10
3
-20
100

We can also print several things with a single `print()` command:

In [48]:
print(a,b,c,d)

10 3 -20 100

## Shortcuts for modifying variables values:

In [60]:
a = 100

In [61]:
a = a + 5

In [62]:
print(a)

105

In [63]:
b = 100

Shorthand for `b = b + 5`:

In [64]:
b += 5

In [65]:
print(b)

105

This short-hand works with `-=`, `*=`, `/=`:

In [66]:
c = 100

In [67]:
c -= 1
print(c)

99

In [68]:
c *= 2
print(c)

198

In [69]:
c /= 4
print(c)

49.5

# Strings in Python

Text strings are created by enclosing text in either single or double quotes:

In [78]:
s = 'MTH 337'

In [79]:
print(s)

MTH 337

String concatenation:

In [80]:
s2 = "Welcome to "

In [81]:
s3 = s2 + s

In [82]:
print(s3)

Welcome to MTH 337

String multiplication by integers:

In [83]:
s = 'abc'
s2 = 10*s

In [84]:
print(s2)

abcabcabcabcabcabcabcabcabcabc

We can't multiply two strings together:

In [88]:
s*s

TypeError: can't multiply sequence by non-int of type 'str'

Multiline strings can be created using triple quotes:

In [89]:
'This is not a
multiline string
It will throw an error'

SyntaxError: EOL while scanning string literal (<ipython-input-89-91b59ab325fa>, line 1)

In [91]:
s = '''This is a 
multiline string.
It will not throw an error.'''

s

'This is a \nmultiline string.\nIt will not throw an error.'

In [92]:
print(s)

This is a
multiline string.
It will not throw an error.

The `str()` command can be used to convert numbers into strings:

In [100]:
score = 95

In [101]:
s = 'Your score is ' + str(score) + ' points!'
print(s)

Your score is 95 points!

The `int()` and `float()` commands work on strings:

In [104]:
s = "-29"
n = int(s)

In [105]:
print(s)

-29

In [106]:
print(n)

-29

We can use the `type()` function to see what type of object a variable is:

In [107]:
type(s)

str

In [108]:
type(n)

int

In [109]:
print(10*s)

-29-29-29-29-29-29-29-29-29-29

In [110]:
print(10*n)

-290

In [111]:
s1 = '-20'
s2 = '75.2'

print(s1 + s2)

-2075.2

In [112]:
print(int(s1) + float(s2))

55.2

## String formatting

The `.format()` method can be used to insert values into a string:

In [118]:
a = 3
b = 7
c = a+b

s = 'When you add {0} to {1} then you get {2}!!!'.format(a,b,c)

In [119]:
print(s)

When you add 3 to 7 then you get 10!!!

In [117]:
print('When you add ' + str(a) + ' to ' + str(b) + ' then you get ' + str(c) + '!!!')

When you add 3 to 7 then you get 10!!!