# Wednesday, January 28th, 2026

Last week, we familiarized ourselves with Jupyter notebook and running Python code.
We saw how to perform various arithmetic operations and compared the integer and float datatypes.
We also begin discussing Markdown cells.

## More with Markdown

We can generate bulleted (un-numbered) using a space and hyphen:

 - This is item 1.
 - Here's item 2
 - Item 3

We can also nest lists using additional spaces:

 - This is item 1
   - This is a sub-item of item 1
   - Sub-item 1b
   - Sub-item 1c
 - This is item 2
 - This is item 3
   - Sub-item 3a
   - Sub-item 3b

We can also create numbered lists using `1.`, `2.`, etc. Note: A numbered list will always be enumerated 1, 2, 3... regardless of how you've actually numbered the items.

1. Step 1
2. Step 2
5. Step 3
6. Final step

## Back to integers vs. floats

The normal division symbol `/` will always return a floating point number. That is, `a/b` will return the closest floating point number to $\frac{a}{b}$.

In [2]:
10 / 2

5.0

Sometimes, we would prefer to return an integer number. In those cases, we can this using the `//` operation. The integer division `//` will always return the quotient from performing long division. That is, `a//b` will return the largest integer less than or equal to $\frac{a}{b}$ (e.g. by dropping the decimal portion).

In [3]:
10 // 2

5

In [4]:
100 // 7

14

In [5]:
14*7

98

Another way to think of integer division is by relating it to long division. Recall that For any integers $a$ and $b\not=0$, there are unique integers $q$ (the quotient) and $r$ (the remainder) such that $$a = b\cdot q + r \qquad \text{with} \qquad 0 \leq r < b.$$ For example, by performing long division to divide $100$ by $7$, we find that the quotient is $14$ and the remainder is $2$. That is, $100 = 7\cdot 14 + 2$.

In Python, the quotient $q$ can be found by performing integer division `//`. Similarly, can get the remainder $r$ using the modulus operator, `%`. This is called *modular division*.

In [6]:
100 % 7

2

Let's check that Python has correctly found the quotient and remainder.

In [7]:
14*7 + 2

100

## Variable assignment in Python

Very often, we want to perform operations on some input that might change. We can define variables using the `=` symbol:

In [8]:
a = 100
b = 7
c = a // b
d = a % b

After defining a variable, we can refer back to its value by typing in the name. 

Note: Jupyter will display the output of the last line of any cell. For example, we can display the value of a variable by "executing" the variable name as the last operation in a code cell.

In [9]:
c

14

In [10]:
d

2

In [11]:
b*c + d

100

### Variable names

Variable names must:
 * Start with a letter or underscore (`_`)
 * Contain only letters, numbers, or underscores.

In [12]:
thisisavariable = 17
thisisanothervariable = 22

thisisavariable + thisisanothervariable

39

In [13]:
_THIS_variable_has_NUMBERS_1234 = 123456

_THIS_variable_has_NUMBERS_1234

123456

Very often, we'll use underscores as spaces to separate words in our variable names. Another style (known as camelcase) uses capital letters to denote the start of a new word.

In [14]:
this_is_a_variable = 17
this_is_another_variable = 22

thisIsACamelcaseVariable = -5

In general, we want to choose concise variable names that helps the reader understand what they represent.

For example, recall the exercise above where we performed long-division:

In the above, the variable names do not help to illustrate what each variable represents. Can we come up with names that might work better?

In [15]:
numerator = 100
denominator = 7
quotient = numerator // denominator
remainder = numerator % denominator

In [16]:
denominator * quotient + remainder

100

In [17]:
a = 100
b = 7
q = a // b
r = a % b

### Simultaneous variable assignment

We can define several variables simultaneously by separating the variables to be assigned with commas followed by an equal sign `=` and their respective comma-separated values.

In [18]:
a, b = 100, 7

q, r = a // b, a % b

In [19]:
q,r

(14, 2)

Note: the `divmod` function can be used to simultaneously calculated the integer quotient and the remainder.

In [20]:
q, r = divmod(a,b)
q, r

(14, 2)

This can be very useful if we ever want to swap the meaning of two variables. As an example, suppose we define `a = 1` and `b = 2`, but then want to swap their values.

In [24]:
a = 1
b = 2

old_a = a
a = b
b = old_a

a,b

(2, 1)

Alternatively, we can use simultaneous assignment to swap them without introducing an intermediate variable.

In [25]:
a = 1
b = 2

a,b = b,a

a,b

(2, 1)

## Working with strings

In Python, strings are used to hold text data. We can define strings by surrounding some text by double quotes `"` or single quotes `'`:

In [27]:
this_is_a_string = 'This is a string. It contains text data.'
this_is_a_string

'This is a string. It contains text data.'

In [29]:
this_string_uses_double_quotes = "This is another string with text data."
this_string_uses_double_quotes

'This is another string with text data.'

In [31]:
"I can't believe it!"

"I can't believe it!"

In [32]:
'This string contains a quotation. "Eureka!!"'

'This string contains a quotation. "Eureka!!"'

There are many operations that can be performed on strings. For example:

Addition of strings:

In [34]:
'String 1' + 'String 2' + 'Third string'

'String 1String 2Third string'

Adding strings together concatenates them.

Multiplying a string with an integer:

In [35]:
'Test string' * 5

'Test stringTest stringTest stringTest stringTest string'

Multiplying a string by an integer contatenates that number of copies together.

Can we multiply a string with a float?

In [38]:
'Test string' * 2.5

TypeError: can't multiply sequence by non-int of type 'float'

Can we multiply two strings?

In [39]:
'string 1' * 'string 2'

TypeError: can't multiply sequence by non-int of type 'str'

Multi-line strings can be used using triple-single-quotes `'''` to surround the string:

In [40]:
"this is line 1 of a string
Does this work as line 2?
Doesn't look too promising"

SyntaxError: unterminated string literal (detected at line 1) (3988131347.py, line 1)

In [44]:
my_string = '''this is line 1 of a string
Does this work as line 2?
Looks too promising'''

In [45]:
my_string

'this is line 1 of a string\nDoes this work as line 2?\nLooks too promising'

Notice that our multi-line string does not display the way we might hope. If we want to correctly render a multi-line string, we can use the `print` function. More broadly, executing a string as the last line of a cell will display the raw string, while the `print` function will display the *rendered* string.

In [46]:
print(my_string)

this is line 1 of a string
Does this work as line 2?
Looks too promising

In [47]:
print('This is a multi-line string.\nThis is line 2.')

This is a multi-line string.
This is line 2.

The `print` function can be used anytime we want to display some information.

In [49]:
a = 100
b = 7
q = a // b
r = a % b

print('The quotient is')
print(q)
print('The remainder is')
print(r)
print('q*b + r = ')
print(q*b+r)

The quotient is
14
The remainder is
2
q*b + r =
100

## Types

So far, we've talked about integers, floats, and strings. There are often times where we might want to convert between these datatypes.
 * The `int` function will try to convert an input to an integer type.
 * The `float` function will try to convert an input to a float type.
 * The `str` function will try to convert an input to a string type.

In [54]:
int(5.0)

5

We can use the `type` function to check an object's type.

In [55]:
type(5.0)

float

In [56]:
type(5)

int

In [57]:
type(int(5.0))

int

In [58]:
int(3.9)

3

In [59]:
int(-2.6)

-2

The `int` function will truncate a float and drop any decimal part.

In [60]:
int('12346')

12346

In [61]:
int('three')

ValueError: invalid literal for int() with base 10: 'three'

Sometimes we might want to round to the nearest integer.

In [64]:
round(3.9)

4

In [65]:
round(-2.6)

-3

Note: Python comes with several built-in functions, like the `round` function. We can see this when Jupyter changes the name `round` to green-text. Advice: Try to avoid using these built-in names with your own variables.

## String formatting

Very often, we have some string template that we want to fill in with calculated data. For example, suppose we want to display a product of two numbers and the result.

In [78]:
a = 100
b = 7
q = a // b
r = a % b

The `print` function can take in several inputs, and will display each after the other separted by a space. We can print all of this using a single print statement by separating our inputs by commas:

In [79]:
print('The quotient is', q, '.')
print('The remainder is', r, '.')
print('q*b + r =', q*b + r)

The quotient is 14 .
The remainder is 2 .
q*b + r = 100

In [80]:
print('The quotient is ' + str(q) + '.')
print('The remainder is ' + str(r) + '.')
print('q*b + r = ' + str(q*b+r))

The quotient is 14.
The remainder is 2.
q*b + r = 100

There are several ways that we can accomplish this in a more slick way. One way is by using the `.format` method. Methods like the `.format` method are functions that are attached to objects, in this case to a string. This method can be called on some string in following way:

`<some string>.format(<format options>)`.

In the simplest case, we can create a string that contains placeholders denoted by curly braces `{}`, then supply values to the `.format` method that will sequentially fill in these placeholders.

In [81]:
q_string = 'The quotient is {}.'
r_string = 'The remainder is {}.'
print(q_string.format(q))
print(r_string.format(r))

The quotient is 14.
The remainder is 2.

In [82]:
combined_string = '''The quotient is {}.
The remainder is {}.'''

print(combined_string.format(q, r))

The quotient is 14.
The remainder is 2.

## Working with lists in Python

Another datatype in Python is the `list` type. Lists contain ordered collections of objects. To define a list, we surround a comma-separated collection with square brackets.

To access elements of a list, we use square brackets again along with an index. Python is a **0-based indexing** language, which means the index of each list starts at `0`. That is, `0` indicates the first item in the list.

We can also access elements of a list by counting backward from the end using negative indices.
 * The `-1`st index gives the last element.
 * The `-2`nd index gives the second to last element.

Note: We will get an error if we access indices beyond the length of the list:

### List operations

What sorts of operations can we perform on lists? For arithmetic operations, lists work very similarly to strings.

Addition of lists:

Multiplying a list and an integer:

Lists and strings share many properties. We can convert a string to a list using the `list` function:

We can find the length of a list (or string) using the `len` function.

What if we want to convert a list of string characters to a string? The `str` function can be used to convert objects to strings.

Can we freely convert the string `'12345'` to a list and then back to a string?

It does not look like this is doing quite what we want, since the resulting includes the list delimitors and element separators.

We can fix this by using the `.join` method on a string. The `.join` method takes in a list of strings and concetanates them. However, it uses the object from which it is called to separate each concatenation.  

For example, calling `'abc'.join(['hello','goodbye','zzz'])` will produce a string that concatenates the strings `'hello'`, `'goodbye'`, and `'zzz'` separated by the string `'abc'`. That is, it produces the string `'helloabcgoodbyeabczzz'`.

In particular, if we call the `.join` method from an empty string `''`, we will get simple concatenation.

Let's try using the `.join` method and string formatting to take in an integer `n` and it's prime factorization (as a list of integers) `fact` and print out a sentence stating the prime factorization.

## Working with loops in Python

It often happens that we want to perform the same (or similar) operations many times.
We can perform iterative operations using a `for` loop. For example, we can iterate through the items in a list and perform some desired operations.

The syntax for writing a `for` loop is: 
<code>
for (some variable name) in (some iterable object):
    (do something)
</code>

The variable `(some variable name)` will sequentially take on each of the values stored in `(some iterable object)` (a list, for example), and for each value will `(do something)`.

**Key info**: The spacing in Python is **critical!!!**. In particular, the spacing decides what operations are part of a `for` loop and what operations are not.

We can also use `for` loops inside other `for` loops. We call these "nested loops".

For example, let's write nested loops that iterate through all combinations of integers from the two lists `[1,2,3]` and `[4,5,6]` and prints out the sum for each combination.

What if we wanted to iterate through pairs from each list? That is, suppose we want to consider the lists in parallel and iterate through the three pairs `(1,4)`, `(2,5)`, and `(3,6)`.

Later on, we'll see how to use the `zip` function to achieve this goal in a more natual (and extendable) way.

## The `range` function

We can use other types of iterables to setup `for` loops. In the examples above, we've been iterating through a pre-defined list. Suppose we want to perform some operation on the first 10,000 positive integers.

Of course, it's not reasonable for us to write down a list of the first 10,000 positive integers in order to iterate through them. Instead, we can use the `range` function. 

Note: We can use the `help` function to learn more about something in Python. For example, `help(range)` will tell us about the `range` function.

In [ ]:
help(range)

In particular:
 * `range(n)` will give a sequence of integers starting at `0` and going up to `n-1`.
 * `range(m,n)` will give a sequence of integers starting at `m` and going up to `n-1`.
 * `range(m,n,k)` will give a sequence of integers starting `m`, stepping by `k`, and stopping before `n`.

Note: the `range` doesn't exactly generate a list. Instead, it is what's called a *generator*.

**Exercise**: Write Python code to print the cubes of the first $50$ positive integers.

## Constructing lists

So far, we've explicitly generated lists using square brackets and comma-separated inputs (which we've had to manually type in). Suppose we want to generate a list containing the cubes of the first 50 positive integers. Our current strategy is not reasonable for this sort of task.

The `.append` method (attached to a list) can be used to add an element to a list. That is, we can write something like `<some list>.append(<some new element>)` to add `<some new element>` to `<some list>`.

To build a list of the cubes of the first 50 positive integers, we can start with an empty list `[]` and then iteratively use the `.append` method to add elements to that list.

**Exercise:** Generate a list of the squares of the first $40$ positive integers. Then print the remainder of each after division by $7$.

## Boolean expressions

There are two Boolean values, namely `True` and `False`.

We can write statements that evalute to either `True` or `False` called **Boolean expressions**. For example, we can compare two numbers using `<` or `>` to see if one is less than the other or one is greater than the other.

Similarly, we can use `<=` or `>=` for less than/greater than or equal to.

Inequality checks can also be chained together.

We can use a double equality `==` to check whether two objects are equal to one another.

We can also check whether two lists are equal to one another (i.e. if they contain equal objects in the same order).

We can construct more complicated Boolean expressions using the `and`, `or`, and `not` operators. That is:
 - `(some expression) and (some other expression)` will evaluate as `True` if `(some expression)` and `(some other expression)` are both `True`.
 - `(some expression) or (some other expression)` will evaluate as `True` if either `(some expression)` or `(some other expression)` are `True` (or both).
 - `not (some expression)` will evaluate as `True` if `(some expression)` is `False`.

### Using `if` statements

We can use an `if` statement to perform some operations only when a Boolean expression is `True`. The syntax for writing an `if` statement is: 
<code>
if (some Boolean expression):
    (do something)
</code>



Again, **spacing is CRITICAL**, as it indicates which operations are part of the `if` statement (which will only run when the Boolean expression is `True`), and which operations are outside of the `if` statement (which will run regardless).

We very often want to perform different operations based on several Boolean expressions. We can supplement an `if` statement with an `elif` statement (which is short for "else if") with a new Boolean expression to perform operations only in the case that the first `if` expression was `False` and the new expression is `True`.

We can include many `elif` blocks to check different cases.

**Exercise:** Out of the squares of the first 40 positive integers, count how many have remainder $1$ of each after division by $7$.

Some thoughts about efficiency: