# Wednesday, January 21st, 2026

# Getting started with Jupyter notebook

 - We can execute a cell using `SHIFT` + `ENTER`.
 - We can add a new cell using the plus symbol in the top-left corner. Alternatively, you can select a cell and hit `A` to add a cell above, or `B` to add a cell below.
 - We can delete a cell by selecting the cell, then hitting `D`, `D`.

## Arithmetic operations

Addition:

Subtraction:

Multiplication:

Division:

Exponentiation:

To perform exponentiation, use `**` or the `pow` function instead of `^`:

Using the standard division `/` will return what is called a **float**.

## Integers vs floats

 - integers = numbers without any decimal point
 - floats = numbers with a decimal point
 - operations on integers are exact
 - operations on floats are approximate
 - integers can be arbitrarily large, but floats are represented only within a finite range.

## Markdown

Markdown is a markup language used for creating formatted text. In Jupyter, we create Markdown cells to hold this text.

A Code cell can be converted to a Markdown cell using the dropdown menu in the top menu bar. Alternatively, we can select a Code cell and hit the `M` key to convert it to a Markdown cell. To convert back to a Code cell, we can again use the dropdown menu or select the cell and hit the `Y` key.

Once we've written our desired Markdown, we can execute the cell (e.g. by hitting `SHIFT` + `ENTER`) to render the Markdown. If we need to edit the Markdown cell, we can double click on it, or select the cell and hit `ENTER`.

Within a Markdown cell, We can create headings using hashtags, `#`:

Sub-headings (and sub-sub-headings, etc.) can be created using multiple hashtags, `##` (or `###`, etc.).

We can generate bulleted (un-numbered) using a space and hyphen:

We can also nest lists using additional spaces:

We can also create numbered lists using `1.`, `2.`, etc. Note: A numbered list will always be enumerated 1, 2, 3... regardless of how you've actually numbered the items.

## Back to integers vs. floats

The normal division symbol `/` will always return a floating point number. That is, `a/b` will return the closest floating point number to $\frac{a}{b}$.

Sometimes, we would prefer to return an integer number. In those cases, we can this using the `//` operation. The integer division `//` will always return the quotient from performing long division. That is, `a//b` will return the largest integer less than or equal to $\frac{a}{b}$ (e.g. by dropping the decimal portion).

Another way to think of integer division is by relating it to long division. Recall that For any integers $a$ and $b\not=0$, there are unique integers $q$ (the quotient) and $r$ (the remainder) such that $$a = b\cdot q + r \qquad \text{with} \qquad 0 \leq r < b.$$ For example, by performing long division to divide $100$ by $7$, we find that the quotient is $14$ and the remainder is $2$. That is, $100 = 7\cdot 14 + 2$.

In Python, the quotient $q$ can be found by performing integer division `//`. Similarly, can get the remainder $r$ using the modulus operator, `%`. This is called *modular division*.

Let's check that Python has correctly found the quotient and remainder.

## Variable assignment in Python

Very often, we want to perform operations on some input that might change. We can define variables using the `=` symbol:

We can recall the value of this variable with the variable name:

Note: Jupyter will display the output of the last line of any cell. We can view the contents of a defined variable by ending a cell with the variable name.

### Variable names

Variable names must:
 * Start with a letter or underscore (`_`)
 * Contain only letters, numbers, or underscores.

Very often, we'll use underscores as spaces to separate words in our variable names. Another style (known as camelcase) uses capital letters to denote the start of a new word.

In general, we want to choose concise variable names that helps the reader understand what they represent.

For example, recall the exercise above where we performed long-division:

In the above, the variable names do not help to illustrate what each variable represents. Can we come up with names that might work better?

### Simultaneous variable assignment

We can define several variables simultaneously by separating the variables and their respective defintitions by commas.

This can be very useful if we ever want to swap the meaning of two variables. As an example, suppose we define `a = 1` and `b = 2`, but then want to swap their values.

Alternatively, we can use simultaneous assignment to swap them without introducing an intermediate variable: