# Monday, January 27th

Last time, we had just started discussing defining variables in Python.

In [1]:
a = 5
b = 7
c = -2

In [2]:
a

5

In [3]:
a + b * c

-9

Variable names must:
 * Start with a letter or underscore (`_`)
 * Can contain any letter, number, or underscore.

In [4]:
this_is_a_variable_name = 10

In [5]:
_this_is_another_variable_name = -4

In [6]:
variable3 = 100

In [7]:
3rd_variable = 10

SyntaxError: invalid syntax (1144555293.py, line 1)

Very often, we'll use underscores as spaces to separate words in our variable names. Another style (known as camelcase) uses capital letters to denote the start of a new word.

In [8]:
thisIsAnotherVariableName = -4

In general, we want to choose variable names that helps the reader understand what they represent.

We can define several variables simultaneously by separating them by commas:

In [9]:
a, b, c = 1, 2, 3

In [10]:
a

1

In [11]:
b

2

In [12]:
c

3

This can be very useful if we ever want to swap the meaning of two variables. As an example, suppose we define `a = 1` and `b = 2`, but then want to swap their values.

In [13]:
a = 1
b = 2

a = b
b = a

In [14]:
a

2

In [15]:
b

2

In [16]:
a = 1
b = 2

old_a = a
a = b
b = old_a

In [17]:
a

2

In [18]:
b

1

We can use comma separated variable definition to perform this swap:

In [19]:
a = 1
b = 2

a,b = b,a

In [20]:
a

2

In [21]:
b

1

## Working with strings

In Python, strings are used to hold text data. We can define strings by surrounding some text by double quotes `"` or single quotes `'`:

In [23]:
this_is_a_string = 'Hello, welcome to MTH 337'

In [24]:
this_is_a_string

'Hello, welcome to MTH 337'

There are many operations that can be performed on strings. For example:

In [25]:
'this is a string' + 'this is a second string'

'this is a stringthis is a second string'

Addition strings together concatenates them.

In [26]:
'this is a string' * 5

'this is a stringthis is a stringthis is a stringthis is a stringthis is a string'

Multiplying a string by an integer concatenates it by the integer number of times.

In [27]:
'this is a string' * 2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [28]:
'123' * 5

'123123123123123'

In [30]:
123 * 5

615

In [31]:
123 * '5'

'555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555'

In [32]:
'123' * '456'

TypeError: can't multiply sequence by non-int of type 'str'

We can also define multi-line strings using triple-single-quotes `'''`:

In [33]:
'this
will not work correctly
as a multi-line string'

SyntaxError: EOL while scanning string literal (2643678918.py, line 1)

In [34]:
'''this
will work correctly
as a multi-line string'''

'this\nwill work correctly\nas a multi-line string'

Notice that our multi-line string does not display the way we might hope. If a want to correctly render a multi-line string, we can use the `print` function.

In [36]:
my_string = '''this
will work correctly
as a multi-line string'''

print(my_string)

this
will work correctly
as a multi-line string

The `print` function can be used anytime we want to display some information.

In [38]:
a = 1
b = 2

'The value of a is'
a
'The value of b is'
b

2

In [37]:
a = 1
b = 2

print('The value of a is')
print(a)
print('The value of b is')
print(b)

The value of a is
1
The value of b is
2

So far, we've talked about integers, floats, and strings. There are often times where we might want to convert between these datatypes.
 * The `int` function will try to convert an input to an integer type
 * The `float` function will try to convert an input to a float type
 * The `str` function will try to convert an input to a string type

In [39]:
float(2)

2.0

In [40]:
float('1.2345')

1.2345

In [41]:
float('1.234ab')

ValueError: could not convert string to float: '1.234ab'

In [43]:
str(2) * 5

'22222'

In [45]:
str(1.2345) + 'hi'

'1.2345hi'

In [46]:
1.2345 + 'hi'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [47]:
int('4321')

4321

In [48]:
int(5.0)

5

In [49]:
int(4.9)

4

In [50]:
int(-2.3)

-2

The `int` function will truncate a float and drop any decimal part.

Sometimes we might want to round to the nearest integer.

In [52]:
round(4.9)

5

In [53]:
round(-2.3)

-2

## String formatting

Very often, we have some string template that we want to fill in with calculated data.

In [55]:
a = 123
b = 567

print('This product of')
print(a)
print('and')
print(b)
print('is')
print(a*b)

This product of
123
and
567
is
69741

We can print all of this using a single print statement by separating our inputs by commas:

In [57]:
print('The product of', a, 'and', b, 'is', a*b, '.')

The product of 123 and 567 is 69741 .

There are several ways that we can accomplish this in a sleeker fashion. One way is by using the `.format` method:

In [60]:
a = 1.23
b = 5.713

my_string_template = 'The product of {} and {} is {}.'

print(my_string_template.format(a, b, a*b))

The product of 1.23 and 5.713 is 7.02699.

## Working with lists in Python

Another datatype in Python are `list`s, which contain ordered collections of objects. To define a list, we surround a comma-separated collection with square brackets.

In [64]:
my_list = [1, 4, 6, 'hello', -2.4]

In [65]:
print(my_list)

[1, 4, 6, 'hello', -2.4]

To access elements of a list, we use square brackets again along with an index. Python is a **0-based indexing** language, which means the index of each list starts at `0`. That is, `0` indicates the first item in the list.

In [66]:
my_list[0]

1

In [67]:
my_list[1]

4

In [68]:
my_list[4]

-2.4

In [69]:
my_list[5]

IndexError: list index out of range

We can also elements of a list by counting backward from the end using negative indices.
 * The `-1`st index gives the last element.
 * The `-2`nd index gives the second to last element.

In [70]:
my_list[-1]

-2.4

In [71]:
my_list[-2]

'hello'

In [72]:
my_list[-3]

6

In [73]:
my_list[-5]

1

In [74]:
my_list[-6]

IndexError: list index out of range

Arithmetic on lists:

In [76]:
[1,2,3] + ['a','b','c','d']

[1, 2, 3, 'a', 'b', 'c', 'd']

In [77]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In many ways, lists and strings work in the same way.

In [78]:
my_string = 'Hello this is MTH 337'

my_string[0]

'H'

In [79]:
my_string[-1]

'7'

We can convert between lists and strings using the `list` and `str` functions:

In [81]:
print(list(my_string))

['H', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'M', 'T', 'H', ' ', '3', '3', '7']

In [82]:
str(['a','e','i','o','u'])

"['a', 'e', 'i', 'o', 'u']"

It does not look like this is doing quite what we want, since the resulting includes the list delimitors and element separators.

We can fix this by using the `.join` method on a string:

In [83]:
my_list = ['a','e','i','o','u']

''.join(my_list)

'aeiou'

We can do much more with the `.join` method. In particular, we can any string a separator between the elements of the list that we want to concatenate:

In [84]:
' - '.join(my_list)

'a - e - i - o - u'

In [85]:
'This is a separator'.join(my_list)

'aThis is a separatoreThis is a separatoriThis is a separatoroThis is a separatoru'

In [88]:
print('The prime factorization of {} is {}'.format(12, 
                                                   '*'.join(['2','2','3'])))

The prime factorization of 12 is 2*2*3

## Working with loops in Python

We can perform iterative operations using a `for` loop. For example, we can iterate through the items in a list:

The syntax is: 

<code>
for (some variable name) in (some iterable object):
    (do something)
</code>

In [89]:
my_list = [1,2,3,'hello','goodbye']

for element in my_list:
    print(2*element)

2
4
6
hellohello
goodbyegoodbye

**Key info**: The spacing in Python is **critical!!!**. In particular, the tabbing decides what operations are part of a `for` loop and what operations are not.

In [91]:
for a in my_list:
    print(a)
    print('This is inside the for loop')
print('This is outside the for loop')

1
This is inside the for loop
2
This is inside the for loop
3
This is inside the for loop
hello
This is inside the for loop
goodbye
This is inside the for loop
This is outside the for loop

We can also use `for` loops inside other `for` loops:

In [92]:
for a in [1,2,3]:
    for b in [4,5,6]:
        print("{} + {} = {}".format(a,b,a+b))

1 + 4 = 5
1 + 5 = 6
1 + 6 = 7
2 + 4 = 6
2 + 5 = 7
2 + 6 = 8
3 + 4 = 7
3 + 5 = 8
3 + 6 = 9

In the example above, we're iterating through all combinations of the two lists `[1,2,3]` and `[4,5,6]`.

We can use other types of iterables to setup `for` loops. In the examples above, we've been iterating through a pre-defined list. Suppose we want to perform some operation on the first 10,000 positive integers.

In [ ]:
for n in [1,2,3,4,5,6,7,8,..]

The `range` function is means for iterating through sequences of integers:

In [93]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [94]:
for n in range(5):
    print(n)

0
1
2
3
4

 * `range(n)` will give a sequence of integers starting at `0` and going up to `n-1`.
 * `range(m,n)` will give a sequence of integers starting at `m` and going up to `n-1`.
 * `range(m,n,k)` will give a sequence of integers starting `m`, stepping by `k`, and stopping before `n`.

In [96]:
for n in range(6,15):
    print(n)

6
7
8
9
10
11
12
13
14

In [97]:
for n in range(6,15,4):
    print(n)

6
10
14

**Exercise**: Write Python code to print the cubes of the first 50 positive integers.

In [98]:
for n in range(1,51):
    print(n**3)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000

So far, we've explicitly generated lists using square brackets and comma-separated inputs. Suppose we want to generate a list containing the cubes of the first 50 positive integers.

We can start with an empty list `[]`, and then iteratively use the `.append` method to add elements to that list.

In [99]:
my_list = []

my_list.append(5)
my_list.append(10)

print(my_list)

[5, 10]

In [100]:
cubes = []

for n in range(1,51):
    cubes.append(n**3)

Suppose we want to count how many of the first 50 cubes end in a digit of `1`. That means we want iterate through each of our cubes, and then somehow decide whether or not it ends in a `1`.

This leads us to Boolean expressions and `if` statements:

## Boolean expressions

There are two Boolean values, namely `True` and `False`.

We can write statements that evalute to either `True` or `False` called **Boolean expressions**.

In [107]:
5 < 7

True

In [108]:
10 < 8

False

In [109]:
6 > 1

True

We can use `<=` or `>=` for lessn than/greater than or equal to:

In [110]:
5 <= 6

True

In [111]:
5 < 5

False

In [112]:
5 <= 5

True

We can use a double equality to check whether two objects are equal to one another:

In [115]:
5 == 5

True

We can also check whether two lists are equal to one another:

In [116]:
[1,2,3] == [1,2,7]

False

In [117]:
[1,2,3] == [1,2,3]

True

We can use an `if` statemenet to perform some operations only when a Boolean expression is `True`.

In [127]:
a = 5
b = 7

if a * b < 100:
    print("The product of {} and {} is small.".format(a,b))
if 100 <= a * b < 1000:
    print("The product of {} and {} is medium.".format(a,b))
    
print('Done')

The product of 5 and 7 is small.
Done

We can also an `elif` statement (which is short for "else if") to perform operations only in the case that the first `if` expression was `False`:

In [129]:
a = 45
b = 7

if a * b < 100:
    print("The product of {} and {} is small.".format(a,b))
elif a * b < 1000:
    print("The product of {} and {} is medium.".format(a,b))
    
print('Done')

The product of 45 and 7 is medium.
Done

We can also use an `else` statement to perform some operations if none of the `if` or `elif` expressions were `True`.

In [132]:
a = 45
b = 7500

if a * b < 100:
    print("The product of {} and {} is small.".format(a,b))
elif a * b < 1000:
    print("The product of {} and {} is medium.".format(a,b))
elif a * b < 10000:
    print("The product of {} and {} is big.".format(a,b))
else: 
    print("The product of {} and {} is huge".format(a,b))
    
    
print('Done')

The product of 45 and 7500 is huge
Done

**Exercise:** Count how many cubes of the first 50 positive integers end in a digit of 1.