# Wednesday, August 27th, 2025

## Variables

Last time, we had just started discussing defining variables in Python.

Note: Jupyter will display the output of the last line of any cell. We can view the contents of a defined variable by ending a cell with the variable name.

Variable names must:
 * Start with a letter or underscore (`_`)
 * Contain only letters, numbers, or underscores.

Very often, we'll use underscores as spaces to separate words in our variable names. Another style (known as camelcase) uses capital letters to denote the start of a new word.

In general, we want to choose concise variable names that helps the reader understand what they represent.

We can define several variables simultaneously by separating the variables and their respective defintitions by commas:

This can be very useful if we ever want to swap the meaning of two variables. As an example, suppose we define `a = 1` and `b = 2`, but then want to swap their values.

## Working with strings

In Python, strings are used to hold text data. We can define strings by surrounding some text by double quotes `"` or single quotes `'`:

There are many operations that can be performed on strings. For example:

Addition of strings:

Multiplying a string with an integer:

Multiplying a string with a float?

Multiplying two strings?

Multi-line strings can be used using triple-single-quotes `'''` to surround the string:

Notice that our multi-line string does not display the way we might hope. If a want to correctly render a multi-line string, we can use the `print` function.

The `print` function can be used anytime we want to display some information.

## Types

So far, we've talked about integers, floats, and strings. There are often times where we might want to convert between these datatypes.
 * The `int` function will try to convert an input to an integer type
 * The `float` function will try to convert an input to a float type
 * The `str` function will try to convert an input to a string type

The `int` function will truncate a float and drop any decimal part.

Sometimes we might want to round to the nearest integer.

## String formatting

Very often, we have some string template that we want to fill in with calculated data. For example, suppose we want to display a product of two numbers and the result.

The `print` function can take in several inputs, and will display each after the other separted by a space. We can print all of this using a single print statement by separating our inputs by commas:

There are several ways that we can accomplish this in a sleeker fashion. One way is by using the `.format` method. Methods like the `.format` method are functions that are attached to objects, in this case to a string. This method can be called on some string in following way:

`<some string>.format(<format options>)`.

In the simplest case, we can create a string that contains placeholders denoted by curly braces `{}`, then supply values to the `.format` method that will sequentially fill in these placeholders.

## Working with lists in Python

Another datatype in Python are `list`s which contain ordered collections of objects. To define a list, we surround a comma-separated collection with square brackets.

To access elements of a list, we use square brackets again along with an index. Python is a **0-based indexing** language, which means the index of each list starts at `0`. That is, `0` indicates the first item in the list.

We can also access elements of a list by counting backward from the end using negative indices.
 * The `-1`st index gives the last element.
 * The `-2`nd index gives the second to last element.

What sorts of operations can we perform on lists? For arithmetic operations, lists work very similarly to strings.

Addition of lists:

Multiplying a list and an integer:

Lists and strings share many properties. We can convert a string to a list using the `list` function:

We can find the length of a list (or string) using the `len` function.

What if we want to convert a list of string characters to a string? The `str` function can be used to convert objects to strings.

It does not look like this is doing quite what we want, since the resulting includes the list delimitors and element separators.

We can fix this by using the `.join` method on a string. The `.join` method takes in a list of strings and concetanates them. However, it uses the object from which it is called to separate each concatenation. If we call the `.join` method from an empty string `''`, we will get simple concatenation.

Let's use a separator `-` between the concatenated elements:

## Working with loops in Python

We can perform iterative operations using a `for` loop. For example, we can iterate through the items in a list and perform some desired operations.

The syntax for writing a `for` loop is: 
<code>
for (some variable name) in (some iterable object):
    (do something)
</code>

The variable `(some variable name)` will sequentially take on each of the values stored in `(some iterable object)`, and for each value will `(do something)`.

**Key info**: The spacing in Python is **critical!!!**. In particular, the spacing decides what operations are part of a `for` loop and what operations are not.

We can also use `for` loops inside other `for` loops. We call these "nested loops".

For example, let's write nested loops that iterate through all combinations of integers from the two lists `[1,2,3]` and `[4,5,6]` and prints out the sum for each combination.

What if we wanted to iterate through pairs from each list? That is, suppose we want to consider the lists in parallel and iterate through the three pairs `(1,4)`, `(2,5)`, and `(3,6)`.

We can use other types of iterables to setup `for` loops. In the examples above, we've been iterating through a pre-defined list. Suppose we want to perform some operation on the first 10,000 positive integers.

Of course, it's not reasonable for us to write down a list of the first 10,000 positive integers in order to iterate through them. Instead, we can use the `range` function. 

Note: We can use the `help` function to learn more about something in Python. For example, `help(range)` will tell us about the `range` function.

In [ ]:
#help(range)

In particular:
 * `range(n)` will give a sequence of integers starting at `0` and going up to `n-1`.
 * `range(m,n)` will give a sequence of integers starting at `m` and going up to `n-1`.
 * `range(m,n,k)` will give a sequence of integers starting `m`, stepping by `k`, and stopping before `n`.

**Exercise**: Write Python code to print the cubes of the first 50 positive integers.

So far, we've explicitly generated lists using square brackets and comma-separated inputs. Suppose we want to generate a list containing the cubes of the first 50 positive integers. Our current strategy is not reasonable for this sort of task.

The `.append` method (attached to a list) can be used to add an element to a list. That is, we can write something like `<some list>.append(<some new element>)` to add `<some new element>` to `<some list>`.

To build a list of the cubes of the first 50 positive integers, we can start with an empty list `[]` and then iteratively use the `.append` method to add elements to that list.

Suppose we want to count how many of the first 50 cubes end in a digit of `1`. That means we want iterate through each of our cubes, and then somehow decide whether or not it ends in a `1`. This leads us to Boolean expressions and `if` statements.

## Boolean expressions

There are two Boolean values, namely `True` and `False`.

We can write statements that evalute to either `True` or `False` called **Boolean expressions**. For example, we can compare two numbers using `<` or `>` to see if one is less than the other or one is greater than the other.

We can use `<=` or `>=` for less than/greater than or equal to:

Inequality checks can be chained together:

We can use a double equality `==` to check whether two objects are equal to one another:

We can also check whether two lists are equal to one another:

We can use an `if` statement to perform some operations only when a Boolean expression is `True`. Again, **spacing is CRITICAL**, as it indicates which operations are part of the `if` statement (which will only run when the Boolean expression is `True`), and which operations will run regardless.

We very often want to perform different operations based on several Boolean expressions. We can supplement an `if` statement with an `elif` statement (which is short for "else if") with a new Boolean expression to perform operations only in the case that the first `if` expression was `False` and the new expression is `True`:

We can also use an `else` statement to perform some operations if none of the `if` or `elif` Boolean expressions were `True`.

**Exercise:** Count how many cubes of the first 50 positive integers end in a digit of 1.

Some thoughts about efficiency:

**Exercise:** Modify the previous cell to count the number of cubes whose remainder after dividing by `4` is `0`.

**Exercise:** Modify your code from the previous exercise to also count the number of cubes whose remainder after dividing by `4` is `1`, `2`, and `3` respectively.

## while loops

Suppose that we want to find the first 100 cubes that have remainder `1` after division by `4`.

Problem: We don't know ahead of time how many numbers we'd have to check before we find 100 such cubes.

For these types of problems, we can use a `while` loop. A `while` loops will iteratiavely perform some operations as long as some Boolean expression is `True`. The syntax is as follows:
<code>
while (some Boolean expression is True):
    (do something)
</code>

Note: the `(some Boolean expression)` can be (and often is) a variable that will be modified within the `while` loop.

**Warnings:**
 - Unlike with `for` loops, it is very easy to end up with a `while` loop that runs forever.
 - Always make sure that your Boolean expression will eventually be `False` so that the `while` loop can terminate
 - Check that you are incrementing any necessary variables with each iteration

There are some shortcuts for incrementing variables. In particular:
 - `n += 1` is equivalent to `n = n + 1`
 - `n -= 3` is equivalent to `n = n - 3`
 - `n *= 7` is equivalent to `n = n * 7`