# Monday, August 26th, 2024

In [1]:
1 + 1

2

The cell below is a code cell. Python throws an error when we execute the cell because we have not written valid Python code. Instead, we should convert the cell to a Markdown cell, which is used for non-code text.

In [2]:
Jupyter notebook basics:

To save, click the floppy disk in the top left corner, or select File -> Save and Checkpoint.
To execute a cell, select it and hit SHIFT + ENTER.
To add a cell below the currently selected cell, hit the PLUS symbol in the top-left corner.
To convert a cell to Markdown, select the cell and hit the dropdown in the toolbar to select Markdown.

SyntaxError: invalid syntax (238413961.py, line 1)

## Jupyter notebook basics:

* To **save**, click the *floppy disk* in the top left corner, or select File -> Save and Checkpoint.
* To execute a cell, select it and hit SHIFT + ENTER.
* To add a cell below the currently selected cell, hit the PLUS symbol in the top-left corner.
* To convert a cell to Markdown, select the cell and hit the dropdown in the toolbar to select Markdown.

We can also put hyperlinks into Markdown cells:

[Here is a link to the Markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

We can construct tables as well using markdown:

| Name | Age | City |
|:------:|-----|------:|
| Jon  | 35  | Buffalo |
| Steven | 36 | Seattle |
| Emily | 38 | Pittsburgh |
| Justin | 40 | Rochester |

## Python arithmetic

Addtion:

In [12]:
1 + 1

2

Multiplication:

In [13]:
4 * 5

20

Division:

In [14]:
11/3

3.6666666666666665

Floor division (divide and keep only the quotient):

In [15]:
11 // 3

3

Modulus (divide and keep only the remainder):

In [16]:
11 % 3

2

**Exercise:**

Write the number 123456 in the form 123456 = 22q + r where 0 <= r < 22.

In [17]:
123456 // 22

5611

In [18]:
123456 % 22

14

Check:

In [19]:
22*5611 + 14

123456

Power:

In [20]:
5^3

6

The caret `^` does not compute powers. Instead, we use a double asterisk `**`:

In [21]:
5**3

125

In [22]:
2**100

1267650600228229401496703205376

In [23]:
2.0**100

1.2676506002282294e+30

In [24]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [25]:
7.0 ** 1000

OverflowError: (34, 'Result too large')

## Floats vs integers

* integers = numbers without decimal points
* floats = numbers with a decimal point
* Operations on integers are exact
* Operations on floats are approximate
* Integers can be arbitrarily large, but floats can be only be represeneted in the computer within a finite range.

We can convert between the two using the functions `float()` and `int()`:

In [26]:
float(2)

2.0

In [27]:
int(2.0)

2

We can check the type of a number using the function `type()`:

In [28]:
type(2)

int

In [29]:
type(2.0)

float

In [30]:
int(123.99)

123

The `int()` function will ignore any fractional part of a float and take only the whole number.

In [31]:
int(-1.99)

-1

We can use the `round()` function instead to round a float to the nearest integer:

In [32]:
round(123.99)

124

In [33]:
round(-1.99)

-2

Python follows the PEMDAS order of operations:

In [34]:
7 * (6/2)**2

63.0

In [35]:
7 * (6//2)**2

63

## Variable assignment

In [36]:
a = 5

In [37]:
a

5

In [38]:
b = 2

In [39]:
b

2

In [40]:
a + b

7

In [41]:
a*b

10

In [42]:
a**b

25

We can also store the results of some operations as variables

In [43]:
c = b**a

In [44]:
c

32

In [45]:
d = 123456
f = 33

q = d // f
r = d % f

We can see several variables in one line by separating them with a comma

In [46]:
q, r

(3741, 3)

We can also define several variables in one line by separating with a comma:

In [47]:
d, f = 12345, 33

In [48]:
d

12345

In [49]:
f

33

We can use this to swap two variables:

In [50]:
d,f

(12345, 33)

In [51]:
d, f = f, d

In [52]:
d, f

(33, 12345)

## Warning about working with Jupyter notebook

In [53]:
a = 1
b = 2
c = 3

In [54]:
a,b,c

(1, 2, 3)

In [55]:
a

1

We can change the meaning of any variables at any point. Python will always recall the most recent definition of those variables.

We can clear all of the memory and start refresh by hitting *Refresh* symbol in the upper toolbar, or we can select *Kernel -> Restart*.

If we save a notebook and quit, all variables will be lost.

If we want to resume later, we can use *Kernel -> Restart and run all*.

In [56]:
a
b
c

3

## The `print()` command

In [57]:
print(a)

1

In [58]:
print(a,b,c)

1 2 3

In [59]:
print(a)
print(b)
print(c)

1
2
3

# Wednesday, August 28, 2024

## Shortcuts for updating variables:

In [60]:
a = 100

Suppose we want to update `a` to increase it by `5`

In [66]:
a = a + 5
print(a)

130

We can use the shorthand `+= 5` to increment a variable by `5`:

In [70]:
a += 5
print(a)

150

We can do the same with multiplication, division, and subtraction:

In [71]:
a = 100

a -= 7
print(a)

93

In [72]:
b = 5

b *= 6

print(b)

30

## Strings in Python

Strings are created by enclosing text in either single or double quotes:

In [76]:
s = 'MTH 337. '

another_string = 'All math and no play make me a dull boy'

In [77]:
s

'MTH 337. '

In [78]:
print(s)

MTH 337.

Operations on strings:
* We can add two strings together:

In [79]:
s + another_string

'MTH 337. All math and no play make me a dull boy'

In [81]:
combined_string = s + another_string + another_string
print(combined_string)

MTH 337. All math and no play make me a dull boyAll math and no play make me a dull boy

* We can multiply strings by integers as well:

In [82]:
print(s)

print(s * 10)

MTH 337.
MTH 337. MTH 337. MTH 337. MTH 337. MTH 337. MTH 337. MTH 337. MTH 337. MTH 337. MTH 337.

In [84]:
s * combined_string

TypeError: can't multiply sequence by non-int of type 'str'

In [85]:
1.5 * s

TypeError: can't multiply sequence by non-int of type 'float'

We can also create multi-line strings:

In [89]:
s = '''This is a multi-line string.
This is the second line.
I'm the third line.'''

print(s)

This is a multi-line string.
This is the second line.
I'm the third line.

In [88]:
s

'This is a multi-line string.\nThis is the second line.\nIm the third line.'

In [92]:
print("I'm the third line")

I'm the third line

The `str()` function can be used to convert things to strings.

In [95]:
type(1)

int

In [96]:
str(1)

'1'

In [97]:
5 * 1

5

In [98]:
5 * str(1)

'11111'

In [101]:
str(123.99) + str(3)

'123.993'

One example:

In [102]:
mth_337_grade = 87.3

print('My grade in MTH 337 is ' + str(mth_337_grade) + ' points out of 100.')

My grade in MTH 337 is 87.3 points out of 100.

## String formatting:

The `.format()` method can used to insert values into a string:

In [103]:
s = 'My grade in MTH 337 is {} out of 100.'

In [105]:
print(s.format(87.3))

My grade in MTH 337 is 87.3 out of 100.

We can plug several values into a string simultaneously:

In [107]:
s = 'My grade in MTH {0} is {1} out of {2}.'

print(s.format(337, 87.3, 100))
print(s.format(306, 75.5, 150))

My grade in MTH 337 is 87.3 out of 100.
My grade in MTH 306 is 75.5 out of 150.

**Exercise:**

1. Define two variables to represent the integers `5` and `12`.
2. Compute the sum of the squares of these integers.
3. Concatenate the stringified versions of the numbers along with the result from part 2.
4. Convert the string in part 3 to an integer and divide by 29.

5. Recreate the above list in markdown.

In [109]:
w = 5
x = 12

y = w**2 + x**2

z = str(w) + str(x) + str(y)

alpha = int(z) / 29

print(y)
print(z)
print(alpha)

169
512169
17661.0

**What if we want to find the square root of a number?**

In [110]:
sqrt(5)

NameError: name 'sqrt' is not defined

The `math` module contains many functions useful for mathematical computations. In particular, it contains a function `sqrt` for finding square roots.

We import the `math` module using the `import` command:

In [111]:
import math

In [113]:
math.sqrt(5)

2.23606797749979

In [114]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [115]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [117]:
math.cos(5)

0.28366218546322625

In [118]:
math.pi

3.141592653589793

In [120]:
math.cos(math.sqrt(math.pi)/4)

0.9034211335448142

If there are specific things we want from the `math` module, we can import them directly into the variable space:

In [121]:
from math import cos

In [122]:
cos(math.pi/4)

0.7071067811865476

In [123]:
cos(pi/4)

NameError: name 'pi' is not defined

In [124]:
from math import pi

In [125]:
cos(pi/4)

0.7071067811865476

We can import several things at once:

In [126]:
from math import sin, cos, tan

In [127]:
sin(pi/3)

0.8660254037844386

In [129]:
exp(5)

NameError: name 'exp' is not defined

In [130]:
math.exp(5)

148.4131591025766

We can also import a module and give it a short-hand name:

In [131]:
import math as m

In [132]:
m.sqrt

If we want to bring everything from a module into our variable space, we can use `from math import *`:

In [133]:
from math import *

In [136]:
e

2.718281828459045

**Warning:** Be very careful when importing everything from a module since it might overwrite an existing variable that we've defined.

In [137]:
e = 100

print(e)

from math import *

print(e)

100
2.718281828459045

## Boolean values and expressions

There are two Boolean values: `True` and `False`.

A Boolean expression is a statement that evaluates to either `True` or `False`.

In [138]:
5 < 6

True

In [139]:
6 < 6

False

In [140]:
6 >= 6

True

The double equality symbol `==` is used to check if two quantities are equal:

In [142]:
5 == 6

False

We can check if two things are not equal to one another using `!=`

In [143]:
5 != 6

True

In [144]:
6 != 6

False

In [145]:
1 == 1.0

True

In [146]:
'1' == 1

False

In [147]:
'ab' == 'a' + 'b'

True

We can also string inequalities together:

In [148]:
1 < 4 <= 6

True

In [149]:
1 < 7 <= 6

False

## The `if` statement

In [159]:
a = 5

if a < 10:
    print('{0} is a small number'.format(a))
    
    print('Hello!')
    
print('Done!')

5 is a small number
Hello!
Done!

In Python, the spacing and tabbing is **critical!!!**

We can use `else` following an `if` statement to do something if the Boolean expression is `False`:

In [160]:
a = 15

if a < 10:
    print('{0} is a small number'.format(a))
else:
    print('{0} is not a small number'.format(a))

15 is not a small number

We can use `elif` (which is short for "else if") to make chained conditional statements:

In [167]:
a = 550

if a < 10:
    print('{0} is small number'.format(a))
elif a < 50:
    print('{0} is a medium number'.format(a))
elif a < 200:
    print('{0} is a medium-large number'.format(a))
else:
    print('{0} is a large number'.format(a))
    
print('Done!')

550 is a large number
Done!

We always need to start with `if`, and `else` must be at the end if it is to be included. Python will go through each Boolean expression starting at the top, find the first one that returns `True`, then evaluate the block associated to that expression. Once it a block, it goes to the end of the full `if` statement.

**Exercise:**

Given two integers, `a = 5` and `b = 7`:

Print the product of `a` and `b` if the product is greater than 10,000. Otherwise, print the sum of `a` and `b`.

In [170]:
a = 5000
b = 7

prod = a*b

if prod > 10000:
    print(prod)
else:
    print(a + b)

35000