# Wednesday, September 4th, 2024

## Repetition: `list`s and `for` loops in Python

Lists are created by enclosing some objects (separated by commas) in square brackets:

In [2]:
mylist = [3, 4, 5, 9, 10 ,11]

print(mylist)

[3, 4, 5, 9, 10, 11]

In [3]:
mylist2 = ['Hello', 'my name is', 'Jon', 3.141592]

print(mylist2)

['Hello', 'my name is', 'Jon', 3.141592]

We can access elements in a list using square brackets around an index.

Python is a 0-based indexing language. That is, the first element in the list has index `0`, not index `1`.

In [4]:
mylist[0]

3

In [7]:
mylist2[2]

'Jon'

## Operations on lists:

In [8]:
'this is a string' * 2

'this is a stringthis is a string'

We can multiply lists by integers to concatenate the list with itself:

In [9]:
mylist * 2

[3, 4, 5, 9, 10, 11, 3, 4, 5, 9, 10, 11]

We can add two lists together to concatenate them:

In [10]:
mylist + mylist2

[3, 4, 5, 9, 10, 11, 'Hello', 'my name is', 'Jon', 3.141592]

We can also add an element to a list using the `.append()` method:

In [12]:
print(mylist)

mylist.append(15)

print(mylist)

[3, 4, 5, 9, 10, 11]
[3, 4, 5, 9, 10, 11, 15]

The `.extend()` method can be used add an entire list:

In [13]:
print(mylist)

mylist.extend([20, 21, 22])

print(mylist)

[3, 4, 5, 9, 10, 11, 15]
[3, 4, 5, 9, 10, 11, 15, 20, 21, 22]

## Iteration: `for` loops

<code>for \<iteration variable\> in \<some list\>:
    \<do something\>
    \<do something else\>
\<done with the iteration\>
    
</code>

In [15]:
for number in mylist:
    print(3*number)

9
12
15
27
30
33
45
60
63
66

We can check whether a given number is even by checking whether it disible by 2. In other words, check if the remainder is 0 after dividing by 2 (using the modulus operation `%`)

In [16]:
for number in mylist:
    if number % 2 == 0:
        print(number)

4
10
20
22

**Exercise:** Construct a list, called `cubes`, that contains the first 10 cubic numbers, e.g. 1, 8, 27, ....

Suggestions: 
* First, create a list containing the first 10 positive integers.
* Create an empty list, `cubes = []`
* Then iterate through this list to build a new list with the cube of each number (using `.append()`)

In [20]:
integers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cubes = []

for integer in integers:
    cube = integer**3
    cubes.append(cube)

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Lists and strings behave similarly to one another in Python. We can access elements of a string using `[<index>]` and we can iterate through strings:

In [21]:
my_string = 'Buffalo'

In [23]:
my_string[1]

'u'

In [24]:
for letter in my_string:
    print(letter)

B
u
f
f
a
l
o

For both lists and strings, we can do Boolean check for inclusion. That is, we can check if an element is in a list, or a character is in a string:

In [25]:
8 in cubes

True

In [26]:
9 in cubes

False

In [27]:
'i' in my_string

False

We can also use the `not` modifier on any Boolean expression to invert it:

In [28]:
not True

False

In [29]:
not False

True

In [30]:
8 not in cubes

False

In [31]:
9 not in cubes

True

In [32]:
not (9 in cubes)

True

**Exercise:** Iterate through the letters in `Buffalo` and print only the consonants (i.e. non-vowels).

In [33]:
vowels = ['a', 'e', 'i', 'o', 'u', 'y', 'A', 'E', 'I', 'O', 'U', 'Y']

for letter in my_string:
    if letter not in vowels:
        print(letter)

B
f
f
l

In [34]:
vowels = 'aeiouyAEIOUY'

for letter in my_string:
    if letter not in vowels:
        print(letter)

B
f
f
l

We can also access elements of lists using negative indices.

* `[-1]` returns the last element of a list
* `[-2]` returns the second last element

In [35]:
print(my_string)

Buffalo

In [37]:
my_string[-1]

'o'

In [52]:
my_string[-8]

IndexError: string index out of range

In [51]:
my_string[7]

IndexError: string index out of range

There are other types of loops, for example `while` loops. The syntax is:

<code>while \<some Boolean expression is True\>:
    \<do something\>
\<done with the iteration\>
</code>

In [53]:
number = 1

while number < 10:
    number = number + 3
    
print(number)

10

**Warning:** Be very careful with `while` loops to ensure that they will eventually terminate.

In [54]:
number = 1

while number >= 1:
    number = number + 3
    
print(number)

KeyboardInterrupt:

In [55]:
print(number)

940028011

**Exercise**: Use a `while` loop to construct a list of all cubic integers that are less than 10,000.

In [56]:
integer = 1
cube = integer**3

cubes = [cube]

while cube < 10000:
    integer += 1
    cube = integer**3
    
    cubes.append(cube)
    
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648]

Problem: the list above includes a cube that is greater than 10,000.

We can fix this by appending `cube` before updating `cube`, and starting `cubes` as an empty list.

In [58]:
integer = 1
cube = integer**3

cubes = []

while cube < 10000:
    cubes.append(cube)
    
    integer += 1
    cube = integer**3
    
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261]

## Other commands to use with `for` or `while` loops:

The `break` command will halt a loop.

In [59]:
for letter in 'Buffalo':
    print(letter)
    if letter == 'a':
        break

B
u
f
f
a

The `continue` command will skip immediately to the next iteration of the loop.

In [60]:
for letter in 'Buffalo':
    if letter == 'a':
        continue
    print(letter)

B
u
f
f
l
o

In [64]:
cubes = []

integer = 1

while True:
    cube = integer ** 3
    
    if cube >= 10000:
        break
        
    cubes.append(cube)
    integer += 1
        
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261]

**Exercise:** Construct a list of the first 5 numbers that are both squares and cubes.

It will be helpful to use the `len()` function, which returns the length of a list.

In [65]:
len([1,2,3,4])

4

**Sub-exercise:** Write code that will determine if a given integer `n` is a square or not.

In [69]:
n = 10

sqrt_n = n**.5

int(sqrt_n) == sqrt_n

False

In [73]:
square_cubes = []

integer = 1

while len(square_cubes) < 5:
    cube = integer**3
    
    sqrt_cube = cube ** .5
    if int(sqrt_cube) == sqrt_cube:
        square_cubes.append(cube)
        
    integer += 1
    
print(square_cubes)

[1, 64, 729, 4096, 15625]

In [74]:
for integer in [1,2,3,4,5]:
    print(integer**6)

1
64
729
4096
15625