# Week 1 notebook

## Markdown cells

### subsubtitle

#### subsubsubtitle

regular text  

*italics*

**boldface**

`def f(n):
 print(n)`

## lists

* first item
* second item
* third item

1. first 
2. second
3. third

## hyperlinks

[course website](http://math.buffalo.edu/~badzioch/MTH337)

| First Name | Last Name   | Score   |
|:-----------|:-----------:|---------|
| Alice      | Smith       | 95      |
| Bob        | Johnson     | 70      |
| Charlie    | Black       | 80      |

## Python arithmetic

Addition:

In [3]:
1+1

2

Multiplication:

In [4]:
2*3

6

Division:

In [5]:
11/3

3.6666666666666665

Floor division:

In [6]:
11//3

3

Modulus (i.e. the remainder from division of one number by another):

In [7]:
11%3

2

Exponentiation:

In [8]:
2**3

8

In [11]:
2**100

1267650600228229401496703205376

In [12]:
2.0**100

1.2676506002282294e+30

## Floats vs integers

* integers = numbers without a decimal point
* floats = numbers with a decimal point
* operations on integers are exact
* operations on floats are approximate
* integers can be arbitrarily large, but floats are represented in the computer only within some finite range

In [13]:
7**1000

125325663996571831810755483238273420616498507508098617146349500752097059631738116432448839054351520763198615919551594076685828989467263022761790838270854579830015111246661203984624358929832571615718014704096305668097507613273663023226895250541385927158426088684494082416768617708189592286936039922311125683719215046689156738352590137241554510185855964549927575493247391132548534378497978806084951085874202011836362315727420109554782988791530088289711844550500230485638413189947132142243947334199259300735622492937419453650061490302105127920314430401636855677549136337481321811349678427076091437345045399337348611261168055929355402992823192491190360027036112283180935872775214517464013178274657100736321564606838252739601156414628445543663144696050650160812621814327062666195172701780200286645023823083185928061371310300829284071141207731280600001

In [14]:
7.0**1000

OverflowError: (34, 'Result too large')

Integers can be converted into floats using the `float()` function:

In [15]:
float(123)

123.0

Floats can be converted to integers using the `int()` function which truncates toward 0:

In [16]:
int(123.99)

123

The `round()` function converts a float to the closest integer:

In [17]:
round(123.99)

124

## Variable assignment

In [18]:
a = 5
b = 2

In [19]:
a+b

7

In [20]:
a = 10

In [21]:
a + b

12

We can assign several variables in a single line:

In [22]:
c, d = 100, -20

In [23]:
print(c)

100

In [24]:
print(d)

-20

In [25]:
c, d = d, c

In [26]:
print(c)

-20

In [27]:
print(d)

100

In [28]:
print(c, d)

-20 100

Shortcuts for modifying variable values:

In [29]:
a = 100

In [30]:
a = a + 5

In [32]:
print(a)

105

In [33]:
b = 100

In [34]:
b += 5

In [35]:
print(b)

105

This also works with -=, *=, ...

## Strings

Text strings are created by enclosing text in either single or double quotes:

In [36]:
s = 'MTH 337'

In [37]:
print(s)

MTH 337

String concatenation:

In [45]:
s2 = "Welcome to "

In [46]:
s3 = s2 + s

In [47]:
print(s3)

Welcome to MTH 337

String multiplication repeats the string:

In [54]:
s = 'abc'
s2 = 10*s

In [55]:
print(s2)

abcabcabcabcabcabcabcabcabcabc

Multiline strings must be enclosed in triple quotes:

In [56]:
s = '''This is 
a multiline
text string'''

In [57]:
print(s)

This is
a multiline
text string

`str()` function converts numbers into strings:

In [58]:
score  = 95

In [60]:
s = 'Your score is ' + str(score) + ' points!'
print(s)

Your score is 95 points!

`float()` and `int()` work on strings:

In [2]:
s1 = '-20'
s2 = '75.2'

In [3]:
print(s1+s2)

-2075.2

In [4]:
print(int(s1) + float(s2))

55.2

## String formatting

In [3]:
a = 3
b = 7
c = a+b

s = 'When you add {0} to {1} then you get {2}!!!'.format(a, b, c)
print(s)

When you add 3 to 7 then you get 10!!!

## Modules

In [2]:
import math

The `dir()` function produces a list of objects defined in a module:

In [3]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

The `help()` function can be used to get more info about a module and its objects:

In [5]:
help(math.cos)

Help on built-in function cos in module math:

cos(...)
    cos(x)

    Return the cosine of x (measured in radians).

In [6]:
math.cos(0)

1.0

In [7]:
math.pi

3.141592653589793

In [8]:
math.cos(math.pi)

-1.0

In [9]:
math.cos(math.pi/2)

6.123233995736766e-17

## Simplifying module names

1) Give the module a nickname:

In [10]:
import math as m

In [11]:
m.cos(m.pi)

-1.0

In [12]:
m.sin(m.pi)

1.2246467991473532e-16

2) Import some module content for direct use:

In [13]:
from math import sin, pi

In [14]:
sin(pi)

1.2246467991473532e-16

In [15]:
cos(pi)

NameError: name 'cos' is not defined

3) import all module content for direct use:

In [16]:
from math import *

In [17]:
cos(pi)

-1.0

In [18]:
tan(pi)

-1.2246467991473532e-16

**Note:** Use `import *` with care!

In [19]:
e = 1

In [20]:
from math import *

In [21]:
print(e)

2.718281828459045

## LaTeX in markdown cells

Inline formulas are enclosed in dollar signs: $\int^\pi_0 \cos(x) dx = 0$

Display formulas are enclosed in double dollar signs:
$$\int^\pi_0 \cos(x) dx = 0$$

### Subscripts and superscripts:

$a_n$, $2^{n}$

Subscripts and superscripts consisting of more than character must be enclosed in braces: $a_{n+1}$, $2^{100}$

### Fractions:

$$\frac{a}{b} + \frac{c}{d} = \frac{ad +cb}{bd}$$

## Parentheses

$$ 4 \cdot (\frac{1}{2} + 5)$$

Use `\left(` and `\right)` to get parentheses of the right size:
$$ 4 \cdot \left( \frac{1}{2} + 5 \right)$$

## Roots

$\sqrt{2}$, $\sqrt{a^2 + b^2}$

$\sqrt[3]{1000}$

$\alpha + \beta = \gamma$

## Boolean values and expressions

Boolean values: `True` and `False`

A *Boolean expression* is an expression that evaluates to one of the boolean values.

Equality test:

In [24]:
2+2 == 2*2

True

**Note:** "==" (the equality operator) is not the same as "=" (the assignment operator)

In [25]:
2 + 2 ==  2 - 2

False

Inequality test:

In [26]:
4 != 5

True

In [28]:
'ab' != 'a' + 'b'

False

Other comparison operators:

In [29]:
5 > 4

True

In [30]:
4 < 4

False

In [31]:
4 <= 4

True

## The `if` statement

In [33]:
a = 50

if a < 10:
    print('{} is a small number'.format(a))
print('Done!')

Done!

In [36]:
a = 5

if a < 10:
    print('{} is a small number'.format(a))
    print('really small!')
else:
    print('{} is a large number'.format(a))
    
print('Done!')

5 is a small number
really small!
Done!

In [39]:
10%2 == 0

True

In [40]:
10%3 == 0

False

In [43]:
n = 1234567
d = 111

if n%d == 0:
    print('{} is not a prime number'.format(n))
else: 
    print('{} may be a prime number'.format(n))

1234567 may be a prime number

In [42]:
n%d

10

## Repetition: lists and `for` loops

### Lists

Lists are created by enclosing some objects seprated by commas in square brackets:

In [44]:
mylist = [1, 2, 0.75, 'hello', -2.3]

In [45]:
print(mylist)

[1, 2, 0.75, 'hello', -2.3]

Lists can be added:

In [46]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

In [47]:
mylist2 = numbers + letters

In [48]:
print(mylist2)

[1, 2, 3, 'a', 'b', 'c']

Lists can be multiplied:

In [49]:
mylist3 = 3*letters

In [58]:
s = 'hello'

In [59]:
print(3*s)

hellohellohello

In [50]:
print(mylist3)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [51]:
mylist4 = 1000*[0]

In [52]:
print(mylist4)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Appending an element to a list:

In [53]:
print(letters)

['a', 'b', 'c']

In [54]:
letters.append('d')

In [55]:
print(letters)

['a', 'b', 'c', 'd']

In [56]:
letters.append('e')

In [57]:
print(letters)

['a', 'b', 'c', 'd', 'e']

Checking if an element is on a list:

In [60]:
'c' in letters

True

In [61]:
'x' in letters

False

`len()` returns the length of the list:

In [62]:
len(letters)

5

In [63]:
len(numbers)

3

## `for` loops

In [64]:
print(letters)

['a', 'b', 'c', 'd', 'e']

In [65]:
for letter in letters:
    print('the letter is:')
    print(letter)

the letter is:
a
the letter is:
b
the letter is:
c
the letter is:
d
the letter is:
e